# Studio: Working with Databases in Python

For today's studio, we will be using the [TV Shows dataset](https://www.kaggle.com/ruchi798/tv-shows-on-netflix-prime-video-hulu-and-disney) from Kaggle. We have already downloaded the CSV for you.

You will also be using the watchlist you just created to figure out which streaming services contain the shows that you want to watch next so you can decide which one is worth the money to you.

As you complete the different tasks in the studio, you may choose between using Pandas or SQL. Remember that during the prep work, we learned that one is oftentimes more efficient at certain tasks than the other, so choose wisely!

## My Watchlist

If you would like, please use this space to make note of your watchlist by editing the text cell.

## Database Setup

To start with, import the necessary libraries and create a dataframe from the provided CSV. Print the info out for the dataframe. After that, you may drop the column called `Unnamed: 0` and rename any columns with spaces in the names or unusual characters such as `"+"`. Print out the info for the dataframe again to ensure that your changes were effective.

In [1]:
import sqlite3 as sl
import pandas as pd
import sqlalchemy

import pandas as pd

# CSV file into a DataFrame
csv_file = "tv_shows.csv"
df = pd.read_csv(csv_file)

# info for the initial DataFrame
print("Initial DataFrame Info:")
print(df.info())

# the 'Unnamed: 0' column dropped
df.drop(columns=['Unnamed: 0'], inplace=True)

# new names columns with spaces or unusual characters
# replace spaces with underscores (_) and remove any other weird characters
df.columns = df.columns.str.replace(' ', '_').str.replace('+', '')

# info for the modified DataFrame
print("\nDataFrame Info After Modifications:")
print(df.info())

Initial DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5368 entries, 0 to 5367
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       5368 non-null   int64
 1   ID               5368 non-null   int64
 2   Title            5368 non-null   object
 3   Year             5368 non-null   int64
 4   Age              3241 non-null   object
 5   IMDb             4406 non-null   object
 6   Rotten Tomatoes  5368 non-null   object
 7   Netflix          5368 non-null   int64
 8   Hulu             5368 non-null   int64
 9   Prime Video      5368 non-null   int64
 10  Disney+          5368 non-null   int64
 11  Type             5368 non-null   int64
dtypes: int64(8), object(4)
memory usage: 503.4+ KB
None

DataFrame Info After Modifications:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5368 entries, 0 to 5367
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               5368 non-null   int64
 1   Title            5368 non-null   object
 2   Year             5368 non-null   int64
 3   Age              3241 non-null   object
 4   IMDb             4406 non-null   object
 5   Rotten_Tomatoes  5368 non-null   object
 6   Netflix          5368 non-null   int64
 7   Hulu             5368 non-null   int64
 8   Prime_Video      5368 non-null   int64
 9   Disney           5368 non-null   int64
 10  Type             5368 non-null   int64
dtypes: int64(7), object(4)
memory usage: 461.4+ KB
None

C:\Users\lenam\AppData\Local\Temp\ipykernel_12640\3312607234.py:20: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace(' ', '_').str.replace('+', '')

With your dataframe at the ready, create a new database called `tv`. Add a new table to your database called `shows` using the data in the dataframe.

In [2]:
import sqlite3

# Create a connection to the database or create it if it doesn't exist
con = sqlite3.connect('tv.db')

# Create a cursor object to execute SQL commands
cur = con.cursor()

# Create a new table within the database
cur.execute("""
    CREATE TABLE IF NOT EXISTS shows (
        ID INTEGER PRIMARY KEY AUTOINCREMENT,
        Title TEXT,
        Year INTEGER,
        Age TEXT,
        IMDb TEXT,
        Rotten_Tomatoes TEXT,
        Netflix INTEGER,
        Hulu INTEGER,
        Prime_Video INTEGER,
        Disney INTEGER,
        Type INTEGER
    );
""")

con.commit()

#  0   ID               5368 non-null   int64 
#  1   Title            5368 non-null   object
#  2   Year             5368 non-null   int64 
#  3   Age              3241 non-null   object
#  4   IMDb             4406 non-null   object
#  5   Rotten_Tomatoes  5368 non-null   object
#  6   Netflix          5368 non-null   int64 
#  7   Hulu             5368 non-null   int64 
#  8   Prime_Video      5368 non-null   int64 
#  9   Disney           5368 non-null   int64 
#  10  Type             5368 non-null   int64 

df.to_sql('shows', con, if_exists='replace', index=False)
con.commit()

With your new table and database set up, print out the top 20 records in the `shows`Â table.

In [11]:
with con:
  data = con.execute("SELECT * FROM shows LIMIT 20")
  for row in data:
    print(row)

(1, 'Breaking Bad', 2008, '18+', '9.4/10', '100/100', 1, 0, 0, 0, 1)
(2, 'Stranger Things', 2016, '16+', '8.7/10', '96/100', 1, 0, 0, 0, 1)
(3, 'Attack on Titan', 2013, '18+', '9.0/10', '95/100', 1, 1, 0, 0, 1)
(4, 'Better Call Saul', 2015, '18+', '8.8/10', '94/100', 1, 0, 0, 0, 1)
(5, 'Dark', 2017, '16+', '8.8/10', '93/100', 1, 0, 0, 0, 1)
(6, 'Avatar: The Last Airbender', 2005, '7+', '9.3/10', '93/100', 1, 0, 1, 0, 1)
(7, 'Peaky Blinders', 2013, '18+', '8.8/10', '93/100', 1, 0, 0, 0, 1)
(8, 'The Walking Dead', 2010, '18+', '8.2/10', '93/100', 1, 0, 0, 0, 1)
(9, 'Black Mirror', 2011, '18+', '8.8/10', '92/100', 1, 0, 0, 0, 1)
(10, "The Queen's Gambit", 2020, '18+', '8.6/10', '92/100', 1, 0, 0, 0, 1)
(11, 'Mindhunter', 2017, '18+', '8.6/10', '90/100', 1, 0, 0, 0, 1)
(12, 'Community', 2009, '7+', '8.5/10', '90/100', 1, 1, 1, 0, 1)
(13, 'Narcos', 2015, '18+', '8.8/10', '90/100', 1, 0, 0, 0, 1)
(14, 'Shameless', 2011, '18+', '8.5/10', '90/100', 1, 1, 1, 0, 1)
(15, 'Money Heist', 2017, '18+', '8.3/10', '90/100', 1, 0, 0, 0, 1)
(16, "Marvel's Daredevil", 2015, '18+', '8.6/10', '90/100', 1, 0, 0, 0, 1)
(17, 'Lucifer', 2016, '16+', '8.1/10', '90/100', 1, 0, 0, 0, 1)
(18, 'Supernatural', 2005, '16+', '8.4/10', '89/100', 1, 0, 0, 0, 1)
(19, 'The Witcher', 2019, '18+', '8.2/10', '89/100', 1, 0, 0, 0, 1)
(20, 'Ozark', 2017, '18+', '8.4/10', '89/100', 1, 0, 0, 0, 1)

Now add a table that includes an id number and the titles on your watchlist.

In [20]:
with con:
    id_list = [12, 27, 40, 41, 90, 97, 101, 105, 123, 137, 177, 205, 299, 534, 638, 642, 1960, 1971, 1983, 1991, 2000, 2005, 2051, 2073, 2082, 2083, 2084, 2097, 2109, 2269, 2277, 2297, 2540, 3584, 3612, 3620, 4921, 5402]

    # Convert the list of IDs into a comma-separated string
    id_list_str = ', '.join(map(str, id_list))

    # Use the IN clause with the list of IDs in parentheses
    data = con.execute(f"SELECT * FROM shows WHERE ID IN ({id_list_str})")
    
    for row in data:
        print(row)

cur.execute("""
    CREATE TABLE IF NOT EXISTS watchlist (
        wid INTEGER,
        Title TEXT
    );
""")

con.commit()
        
df.to_sql('watchlist', con, if_exists='replace', index=False)
con.commit()

with con:
  data = con.execute("SELECT * FROM shows LIMIT 20")
  for row in data:
    print(row)

(12, 'Community', 2009, '7+', '8.5/10', '90/100', 1, 1, 1, 0, 1)
(27, 'The Good Place', 2016, '16+', '8.2/10', '88/100', 1, 0, 0, 0, 1)
(40, 'BoJack Horseman', 2014, '18+', '8.7/10', '86/100', 1, 0, 0, 0, 1)
(41, 'Star Trek: The Next Generation', 1987, '7+', '8.6/10', '86/100', 1, 1, 1, 0, 1)
(90, 'Russian Doll', 2019, '18+', '7.9/10', '82/100', 1, 0, 0, 0, 1)
(97, "Monty Python's Flying Circus", 1969, '16+', '8.8/10', '81/100', 1, 0, 0, 0, 1)
(101, 'I Think You Should Leave with Tim Robinson', 2019, '18+', '7.8/10', '81/100', 1, 0, 0, 0, 1)
(105, 'Star Trek: Deep Space Nine', 1993, '7+', '8.0/10', '80/100', 1, 1, 1, 0, 1)
(123, 'Stargate SG-1', 1997, '13+', '8.4/10', '79/100', 1, 1, 0, 0, 1)
(137, 'Star Trek: Voyager', 1995, '7+', '7.8/10', '78/100', 1, 1, 1, 0, 1)
(177, 'Star Trek: Enterprise', 2001, '7+', '7.5/10', '76/100', 1, 1, 1, 0, 1)
(205, 'Hilda', 2018, '7+', '8.6/10', '74/100', 1, 0, 0, 0, 1)
(299, 'Kipo and the Age of Wonderbeasts', 2020, '7+', '8.4/10', '70/100', 1, 0, 0, 0, 1)
(534, 'The Magic School Bus', 1994, 'all', '7.8/10', '62/100', 1, 0, 0, 0, 1)
(638, 'Tales of the City', 2019, '16+', '7.4/10', '60/100', 1, 0, 0, 0, 1)
(642, 'Wanderlust', 2018, '16+', '7.1/10', '60/100', 1, 0, 0, 0, 1)
(1960, 'Rick and Morty', 2013, '18+', '9.2/10', '100/100', 0, 1, 0, 0, 1)
(1971, 'Firefly', 2002, '16+', '9.0/10', '90/100', 0, 1, 0, 0, 1)
(1983, 'The X-Files', 1993, '18+', '8.6/10', '87/100', 0, 1, 0, 0, 1)
(1991, 'What We Do in the Shadows', 2019, '18+', '8.5/10', '87/100', 0, 1, 0, 0, 1)
(2000, 'Buffy the Vampire Slayer', 1997, '16+', '8.2/10', '86/100', 0, 1, 1, 0, 1)
(2005, "Bob's Burgers", 2011, '16+', '8.1/10', '85/100', 0, 1, 0, 0, 1)
(2051, "Dirk Gently's Holistic Detective Agency", 2016, '16+', '8.3/10', '80/100', 0, 1, 0, 0, 1)
(2073, 'Angel', 1999, '7+', '7.9/10', '79/100', 0, 1, 1, 0, 1)
(2082, 'Key & Peele', 2012, '18+', '8.3/10', '78/100', 0, 1, 0, 0, 1)
(2083, 'Malcolm in the Middle', 2000, '7+', '8.0/10', '78/100', 0, 1, 0, 0, 1)
(2084, 'Dollhouse', 2009, '16+', '7.7/10', '78/100', 0, 1, 0, 0, 1)
(2097, 'Better Off Ted', 2009, '7+', '8.2/10', '77/100', 0, 1, 0, 0, 1)
(2109, 'My So-Called Life', 1994, '16+', '8.3/10', '76/100', 0, 1, 0, 0, 1)
(2269, 'Animaniacs', 1993, 'all', '7.9/10', '69/100', 0, 1, 0, 0, 1)
(2277, 'Hey Arnold!', 1996, 'all', '7.6/10', '69/100', 0, 1, 0, 0, 1)
(2297, 'Rugrats', 1991, 'all', '7.4/10', '68/100', 0, 1, 0, 0, 1)
(2540, 'Dharma & Greg', 1997, '16+', '6.3/10', '60/100', 0, 1, 0, 0, 1)
(3584, 'House', 2004, '16+', '8.7/10', '92/100', 0, 0, 1, 0, 1)
(3612, 'Good Omens', 2019, '18+', '8.1/10', '83/100', 0, 0, 1, 0, 1)
(3620, 'Upload', 2020, '18+', '8.0/10', '82/100', 0, 0, 1, 0, 1)
(4921, 'Microsoft Outlook 2016 - Training', 2017, None, None, '14/100', 0, 0, 1, 0, 1)
(5402, 'Spider-Man', 1994, 'all', '8.4/10', '70/100', 0, 0, 0, 1, 1)

AttributeError: 'sqlite3.Cursor' object has no attribute 'to_sql'

## Working with the Data

Using either Pandas or SQL, determine how many shows are on each streaming service and what the mean is for each streaming service. 

**Note**: You may notice that the mean represents the percentage of shows in the dataframe that are on each streaming service. Take a moment to think about why that is.

In [ ]:
with con:
  data = con.execute("SELECT    SUM(CASE WHEN Netflix = 1 THEN 1 ELSE 0 END) AS Netflix_Count,    SUM(CASE WHEN Hulu = 1 THEN 1 ELSE 0 END) AS Hulu_Count,    SUM(CASE WHEN Prime_Video = 1 THEN 1 ELSE 0 END) AS Prime_Video_Count,    SUM(CASE WHEN Disney = 1 THEN 1 ELSE 0 END) AS Disney_Count FROM shows")
  for row in data:
    print(row)
    
#  6   Netflix          5368 non-null   int64 
#  7   Hulu             5368 non-null   int64 
#  8   Prime_Video      5368 non-null   int64 
#  9   Disney           5368 non-null   int64 
#  10  Type             5368 non-null   int64

Join your watchlist data with the shows data to determine which streaming services your watchlist shows are on and make a new table in your database using the joined data. Print out the data in your joined table to see what shows on your watchlist on in the original dataset. With the joined data, determine the percentage of your watchlist shows that are on each streaming service and how many of your watchlist shows are on each streaming service.

In [ ]:
# new table 'watchlist_with_services' joining 'watchlist' and 'shows' tables
join_query = """
    CREATE TABLE IF NOT EXISTS watchlist_with_services AS
    SELECT w.id, s.Title, s.Netflix, s.Hulu, s.Prime_Video, s.Disney
    FROM watchlist w
    JOIN shows s ON w.id = s.ID;
"""

cur.execute(join_query)

con.commit()

# print the data 
print("Data in the joined table (watchlist_with_services):")
select_query = "SELECT * FROM shows;"
cur.execute(select_query)
for row in cur.fetchall():
    print(row)

# Calculate the percentage of your watchlist shows on each streaming service
services = ['Netflix', 'Hulu', 'Prime_Video', 'Disney']

for service in services:
    count_query = f"SELECT COUNT(*) FROM watchlist_with_services WHERE {service} = 1;"
    total_query = "SELECT COUNT(*) FROM watchlist_with_services;"
    
    cur.execute(count_query)
    count = cur.fetchone()[0]
    
    cur.execute(total_query)
    total = cur.fetchone()[0]
    
    percentage = (count / total) * 100 if total > 0 else 0
    print(f"Percentage of watchlist shows on {service}: {percentage:.2f}% ({count} out of {total} shows)")

## Results

Now that you have done your analysis, make note of the answers to the following questions by editing the text cell:

1. Was every show on your watchlist in the Kaggle dataset? Do you have any ideas as to why a show might not have been present?
age of dataset
2. Did you include a show or shows in your watchlist that is exclusive to one of the platforms? How might that have impacted your analysis?
yes - 
2. Which streaming service(s) offered the most shows on your watchlist? Which streaming service(s) offered the least?
3. Based on the shows you want to watch and the results of your analysis, is there a streaming service you think would be a good fit for you?